body{
	margin: 0px;
	padding: 0px;
	background-color: #0B7DEE;
	height: 150vh;
}
.clearfix{clear:both;}

.resume-box{
	width: 800px;
	height: 1000px;
	margin: 0 auto;
	background-color: white;
}
.box-outer{
	padding: 30px;
}
.box-1{
	background-color: #26252d;
	width: 35%;
	float: left;
	height: 1000px;
}
.box-2{
	width: 60%;
	float: left;
	padding: 20px;

}
.profile{
	width: 100%;
}
.content{
	padding: 20px;
}
h1{
	color: #ceced1;
	font-family: system-ui;
	font-weight: 300;
	text-transform: uppercase;

}
p{
	color: #ceced1;
	font-family: system-ui;
	font-weight: 300;
	font-size:14px;
}
#progress{
	background-color: #333;
	border-radius: 13px;
	height: 8px;
	width: 100%;
	padding: 3px;
}
#progress:after{
	content: '';
	display: block;
	background-color: orange;
	border-radius: 9px;
	height: 8px;
	width: 50%;
}
#progress1{
	background-color: #333;
	border-radius: 13px;
	height: 8px;
	width: 100%;
	padding: 3px;
}
#progress1:after{
	content: '';
	display: block;
	background-color: orange;
	border-radius: 9px;
	height: 8px;
	width: 60%;
}
#progress2{
	background-color: #333;
	border-radius: 13px;
	height: 8px;
	width: 100%;
	padding: 3px;
}
#progress2:after{
	content: '';
	display: block;
	background-color: orange;
	border-radius: 9px;
	height: 8px;
	width: 70%;
}
#progress3{
	background-color: #333;
	border-radius: 13px;
	height: 8px;
	width: 100%;
	padding: 3px;
}
#progress3:after{
	content: '';
	display: block;
	background-color: orange;
	border-radius: 9px;
	height: 8px;
	width: 50%;
}
#progress4{
	background-color: #333;
	border-radius: 13px;
	height: 8px;
	width: 100%;
	padding: 3px;
}
#progress4:after{
	content: '';
	display: block;
	background-color: orange;
	border-radius: 9px;
	height: 8px;
	width: 45%;
}
.intro{
	text-align: center;
 }
 .intro h1{
 	font-size: 40px;
 	font-weight: bold;
 	color: #26252d;
}
.hr{
	height: 15px;
	border:none;
	background-color: yellow;
	margin:-45px 20px;

}
.intro-p{
	color: #7d7d7d;
	font-family: system-ui;
	font-weight: 400;
	font-size:15px;
	margin-top: 13%!important; 
}
.intro p{
	color: #7d7d7d;
	font-family: system-ui;
	font-weight: 400;
	font-size: 15px;
	margin-top: -5px;
}
.content-2{
	padding: 40px;

}
.head{
	color: #26252d;
	font-family: system-ui;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0px;
}
.para-1{
	font-size:16px;
	text-transform: uppercase;
	color: #26252d;
	font-weight: 400;
	margin: 5px 0px;
	margin-top: 10px;
}
.para-2{
	font-size:14px;
	text-transform: capitalize;
	color: #7d7d7d;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 0px;
}